:root {
    --navbar: #809BCE;
    --primary: #95B8D1;
    --primary-font-family: 'Urbanist';
    --primary-font-color: #FFFFFF;
    --primary-font-weight: bold;
    --secondary: #B3D0E4;
    --secondary-font-color: #1E1B18;
    --third: #3E92CC;

}

html {
    scroll-behavior: smooth;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-body-tertiary {
    background-color: var(--navbar) !important;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: var(--primary-font-family);
}

.navbar {
    border-bottom: solid #EAC4D5;
}

#navbarNav {
    padding: 10px;
    justify-content: right;
}

.navbar-nav {
    gap: 50px;
}

.navbar-brand, .nav-link {
    color: #EAC4D5;
    font-size: 25px;
}

.navbar-brand:hover, .nav-link:hover {
    color: #FFFFFF;
}

.nav-span {
    color: #EAC4D5;
}

.navbar-toggler {
    color: #EAC4D5;
    background-color: #EAC4D5;
    border: #EAC4D5;
}

.row {
    margin-right: 0px;
    padding-left: 25px;
    padding-right: 15px;
}

.display-4 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.jumbotron-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 750px;
    border-bottom: solid #EAC4D5;
    text-align: center;
    background-color: var(--primary);
    color: var(--primary-font-color);
    font-family: var(--primary-font-family);
    font-weight: var(--primary-font-weight);
}

#jumbotron-image {
    clip-path: circle();
    height: 200px;
    width: 200px;
}

.btn {
    background-color: #809BCE;
    border-color: #809BCE;
    font-size: 26px;
}

.btn:hover {
    background-color: #809BCE;
    border-color: #809BCE;
    color: #EAC4D5;
    box-shadow: 0 0 20px #EAC4D5;
}

.card {
    width: auto;
}

.card img {
    object-fit: cover;
    height: 300px;
}

.work-row {
    height: auto;
    border-bottom: solid #EAC4D5;
    background-color: #809BCE;
    color: var(--primary-font-color);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#work-card {
    background-color: var(--primary);
    color: var(--primary-font-color);
}

.text-muted {
    color: var(--primary-font-color) !important;
}

.text-muted:hover {
    color: #EAC4D5 !important;
}

.skills-row {
    height: auto;
    border-bottom: solid #EAC4D5;
    background-color: var(--primary);
    color: var(--primary-font-color);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#skill-card {
    background-color: #809BCE;
    color: var(--primary-font-color);
}

#skill-card img {
    object-fit: fill;
}

.about-contact-row {
    height: auto;
    border-bottom: solid #EAC4D5;
    background-color: #809BCE;
    color: var(--primary-font-color);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#about-card, #contact-card {
    background-color: var(--primary);
    color: var(--primary-font-color);
}

.contact-list {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
}

.contact-list li {
    text-decoration: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 6.9px;
}

.form-control {
    width: auto;
}

.footer-row {
    height: auto;
    border-bottom: solid #EAC4D5;
    background-color: var(--primary);
    color: var(--primary-font-color);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer-image {
    background-color: var(--navbar);
    height: 75px;
    width: 75px;
    padding: 5px;
}

#footer-image:hover {
    box-shadow: 0 0 25px #EAC4D5;
}